@import "../../utilities/scss-variables/main.scss";

.display-container {
  max-height: 500px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(209, 209, 209);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.task-card {
  @extend .center;
  justify-content: space-between;
  margin: auto;
  padding: 10px 15px 10px 15px;

  .task-card-details {
    @extend .center;
    img {
      width: 50px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      margin-right: 10px;
    }
    h4 {
      line-height: 1.1rem;
      margin: 7px 0 0 0;
    }
    p {
      color: $text;
      font-family: $sans;
      font-size: 14px;
      margin-top: 5px;
      color: $date;
    }
  }
  .btn-group {
    width: 35px;
    height: 35px;
    @extend .center;
    border: 1px solid $border;
    border-radius: 5px;
    cursor: pointer;

    i {
      color: $text;
    }
  }
}
