@import "../../utilities/scss-variables/main.scss";

.container {
  @extend .center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  animation: fadein_anim 0.2s linear;

  .task-container {
    width: 600px;
    max-width: 1200px;
    margin: 10px 10px;
    border: 1px solid $border;

    .header {
      @extend .center;
      justify-content: space-between;
      align-items: stretch;
      border-bottom: 1px solid $border;
      background-color: $white;

      h3 {
        font-weight: 400;
        margin: 10px 0 10px 10px;
        span {
          color: $text;
          margin-left: 5px;
        }
      }

      .header-icon {
        border-left: 1px solid $border;
        @extend .center;
        padding: 0 10px;
        cursor: pointer;

        i {
          color: $text;
          font-size: 24px;
        }
      }
    }

  }
}

@keyframes fadein_anim {
  from {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
  }
}
